.page-template-page-about {
    background: white;

    .footer-copy {
        background: $bg-blue;
    }

    @include mobile {
        .site-main {
            display: flex;
            flex-direction: column;
    
            .page-title-container {
                order: 1;
            }

            .start-journey-section {
                order: 10;
            }

        }
    }
}

.about-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5%;
    padding-top: 2.5%;

    &:nth-of-type(odd) {
        background: $bg-blue;
        
        h2 {
            color: white;
        }

        p {
            color: white;
        }
    }

    &:nth-of-type(even) {

        h2 {
            color: $bg-blue;
        }
    }

    p {
        width: 55%;
        font-family: $roboto;
        margin: 0;
        text-align: center;

        @include mobile {
            width: 85%;
            font-size: 1rem;
            line-height: 1.8rem;
        }
    }
}

.about-container {
    height: 40vh;
}


.purpose-container {
    position: relative;
    height: 40vh;

    h2 {
        z-index: 10;
    }

    p {
        z-index: 12;
    }
    
    img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 30%;

    }
}

.manifest-container {
    position: relative;
    height: 40vh;

    h2 {
        z-index: 10;
    }

    p {
        z-index: 12;
    }
    
    img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30%;

    }
}






