.area-page-hero {
    margin-top: 14vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 70vh;
    align-items: center;

    @include mobile {
        margin-top: 12vh;
        padding-bottom: 6vh;
        flex-direction: column;
        height: auto;
    }

    .area-page-hero-ovrly {
        background: $bg-blue;
        opacity: .5;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .area-page-hero-parallax {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        min-height: 800px;
        z-index: -2;
        background: transparent;
    }

    .area-page-heading {
        width: 45%;
        height: 80%;
        color: white;
        display: flex;
        flex-direction: column;

        @include mobile {
            width: 80%;
        }

        h1 {
            font-size: 3rem;
            font-family: $roboto;
            font-weight: 300;
        }
    }

    .school-of-month-div {
        background: rgba(255, 255, 255, 0.6);
        width: 30%;
        padding: 2%;
        height: 70%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include mobile {
            width: 80%;
        }

        h2 {
            color: white;
            font-size: 2rem;
            font-family: $roboto;
            font-weight: 300;
            margin: 0;
        }

        img {
            max-width: 80%;
            min-width: 40%;
            min-height: 30%;
            max-height: 50%;

            @include mobile {
                width: 40%;
                margin-bottom: 5%;
            }
        }

        a {
            background: $div-red;
            padding: 2% 5%;
            color: white;
            text-decoration: none;
            border-radius: 10px;

            &:visited {
                color: white;
            }
        }
    }

    .area-page-menu {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: flex-end;
        background: rgba(23, 65, 90, .5);
        align-items: center;

        @include mobile {
            display: none;
        }

        ul {
            display: flex;
            width: 50%;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            
            li {
                text-transform: uppercase;
                list-style-type: none;
                font-family: $roboto;
                
                a {
                    color: white;
                    font-size: 1.2rem;

                    &:visited {
                        color: white;
                    }

                    &:hover {
                        color: lighten($bg-blue, 10%);
                    }
                }

            }
        }
    }
}


.what-are-these-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right,#DD3333 50%, #D56C6C 90%);
    padding: 4%;
    position: relative;

    @include mobile {
        flex-direction: column;
    }

    .left-side-about {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @include mobile {
            width: 80%;
            
        }
        
        h3 {
            color: white;
            font-family: $roboto;
            font-size: 2.5rem;
            margin-top: 0;

            @include mobile {
                text-align: center;
            }
        }

        a {
            background: white;
            color: $div-red;
            width: 35%;
            z-index: 1;

            @include mobile {
                width: 60%;
            }
        }
    }

    p {
        width: 45%;
        color: white;
        font-family: $sans;
        z-index: 1;

        @include mobile {
            width: 80%;
        }
    }

    .about-area-triangle {
        width: 0;
        height: 0;
        border-image: linear-gradient(to right,#DD3333 50%, #D56C6C 90%);
        border-top: 20vh solid;
        border-right: 100vw solid transparent;
        position: absolute;
        transform: skewY(-4deg);
        position: absolute;
        overflow: hidden;
        bottom: -5rem;
    }
}


.requisites-area-sec {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mobile {
        flex-direction: column;
        justify-content: flex-start;
    }

    .area-requisites-parallax {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 800px;
        z-index: -5;
        background: transparent;

    }

    .requisites-right-side {
        color: white;
        width: 45%;

        @include mobile {
            width: 80%;
        }

        h3 {
            font-size: 2.5rem;
            font-family: $roboto;

            @include mobile {
                font-size: 2rem;
                text-align: center;
                margin-top: 15vh;
            }
        }

        p {
            font-family: $sans;
        }
    }
}


.outcome-area-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right,#1D3E64 50%, #256E9B 90%);
    padding: 4%;
    position: relative;
    color: white;

    @include mobile {
        flex-direction: column;
    }

    p {
        width: 45%;
    }

    .right-side-outcome {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include mobile {
            width: 80%;
            order: 1;
        }

        h3 {
            color: white;
            font-family: $roboto;
            font-size: 2.5rem;
            margin-top: 0;

            @include mobile {
                text-align: center;
                font-size: 2rem;
            }
        }

        a {
            background: white;
            color: $div-yellow;
            width: 35%;
        }
    }

    .outcome-area-triangle {
        width: 0;
        height: 0;
        border-image: linear-gradient(to right,#1D3E64 50%, #256E9B 90%);
        border-top: 20vh solid;
        border-right: 100vw solid transparent;
        position: absolute;
        transform: skewY(-4deg);
        position: absolute;
        overflow: hidden;
        top: -3rem;
        z-index: -1;
    }
}

.partners-area-sec {
    background: white;

    .half-moon-partners {
        background: lightgray;
        border-radius: 50%;
        z-index: -10;
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-top: -15vh;
        
        h3 {
            font-size: 2.5rem;
            color: $font-blue;
            font-family: $roboto;
            margin-bottom: 2vh;
        }
    }

    .partners-container {
        margin: 5vh auto 0 auto;
        padding-bottom: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        img {
            max-width: 22%;
            max-height: 10rem;
            padding: 3%;
        }
    }
}