.blog, .category, .page-template-page-nexus-club-bk, .page-template-page-nexus-club {
    .site-main {
        display: flex;
        margin-top: 5%;
        justify-content: space-around;     

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }
}

.page-title {
    font-size: 3rem;
    color: $bg-blue;
    font-family: $roboto;
    position: relative;
    text-align: center;
    width: 50%;
    margin-top: 16vh;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        font-size: 1.5rem;
    }

    &:after {
        content: "";
        height: 3px;
        background: $div-yellow;
        position: absolute;
        bottom: 0;
        width: 30%;
        left: 35%;
    }
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 68%;

    @include tablet {
        order: 2;
        width: 90%;
        margin-top: 2%;
    }
}

.blog-sidebar {
    width: 20%;
    padding: 2%;
    height: 100%;

    @include tablet {
        order: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        h3 {
            font-size: 1rem;
            text-align: center;
        }
    }

    h3 {
        margin-top: 0;
        color: $font-blue;
        font-family: $roboto;
        font-size: 2rem;
        position: relative;

        @include mobile {
            font-size: 1.2rem;
        }

        &:after {
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: gray;
        }  
    }
    
    ul {
        margin: 0;
        padding: 0;

        @include mobile {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        @include tablet {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        li {
            list-style-type: none;
            background: $div-white;
            margin-top: 2%;
            border-radius: 10px;
            padding: 7% 0;

            @include mobile {
                width: 31%;
                padding: 2% 0;
                display: flex;
                justify-items: center;
                align-items: center;
            }

            a {
                font-family: $sans;
                text-decoration: none;
                color: gray;
                padding: 4% 10%;
                text-align: center;
                width: 100%;

                @include mobile {
                    font-size: .8rem;
                }

                &:visited {
                    color: blue;
                }
            }
        }
    }
}

.post {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: $font-blue;
    margin-bottom: 2%;
    transition-duration: .5s;
    border-radius: 10px;
    background: $div-white;

    img {
        width: 100%;
        // object-fit: cover;
    }

    &:first-of-type {
        width: 64%;
    }

    @include mobile {
        width: 100%;

        &:first-of-type {
            width: 100%;
        }
    }

    &:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.6);
        transition-duration: .5s;
    }

    h3 {
        width: 80%;
        font-family: $roboto;
        position: relative;
        margin-bottom: 0;

        @include tablet {
            font-size: 1rem;
        }

        &:after {
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: gray;
        }        

        a {
            text-decoration: none;
            color: $font-blue;
            transition-duration: .5s;

            

            &:hover {
                color: $div-yellow;
                transition-duration: .5s;
            }
        }
    }

    p {
        width: 80%;
        font-family: $sans;
    }

    .post-meta {
        font-size: .7rem;
    }

    .post-excerpt {
        font-size: .9rem;
        color: gray;
        margin-top: 0;
    }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;

    .nav-links {
        margin: 0 !important;
        font-size: 1.5rem;
        color: $font-blue;

        .next, .prev {
            font-size: 1.5rem;
        }

        .page-numbers {
            font-family: $roboto;
            text-decoration: none;
        }
    }
}

.people-likes {
    display: flex;
    justify-content: space-around;
}