.contact-page-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5vh;
    height: auto;

    @include mobile {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
}


.form-contact {
    background: $bg-blue;
    font-family: $sans;
    width: 60%;
    height: auto;

    @include mobile {
        width: 100%;
        order: 2;
    }

    h2 {
        color: white;
        position: relative;
        width: 30%;
        margin-left: 10%;
        padding-top: 5vh;
        font-size: 2rem;

        @include mobile {
            width: 80%;
            text-align: center;
            font-size: 1.2rem;
            padding-top: 3vh;
        }

        &:before {
            content: "";
            height: 1px;
            width: 20%;
            left: 0;
            bottom: 0;
            position: absolute;
            border-bottom: 3px solid $div-yellow;

            @include mobile {
                left: 40%;
            }
        }
    }
}

.contact-form-page-contact {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


#wpcf7-f47-o2 > form > p {
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
    margin-top: 3vh;

    @include mobile {
        padding-bottom: 5vh;
        margin-bottom: 0;
    }

    span {
        position: absolute;
        right: 0;
    }
}

.wpcf7-submit {
    width: 30%;
    margin-left: 20%;
    margin-bottom: 3vh;
    box-shadow: none;
    background: $div-red;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    border: none;
    padding: 1% 5%;
    font-size: 1.5rem;

    @include mobile {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-size: 1.5rem;
        width: 50%;
    }
}


.wpcf7-text {
    width: 70%;

    @include mobile {
        width: 100%;
    }
}

.wpcf7-textarea {
    width: 70%;

    @include mobile {
        width: 100%;
    }
}

.info-title {
    margin-left: 10%;
    color: $font-blue;
    font-family: $sans;

    @include mobile {
        position: relative;
        text-align: center;
        margin-left: 0;

        &:before {
            content: "";
            height: 1px;
            border-bottom: 3px solid $div-yellow;
            width: 20%;
            position: absolute;
            left: 40%;
            bottom: 0;
        }
    }
}

.cta-info {
    margin-left: 10%;
    color: $font-blue;
    font-family: $sans;
}

.contact-info {
    background: lighten($div-yellow, 20%);
    height: 70%;
    width: 30%;
    margin-left: -8%;

    @include mobile {
        width: 100%;
        background: white;
        margin-left: 0;
        order: 1;
    }

    ul {
        margin-left: 10%;
        padding-left: 0;
    }

    i {
        font-size: 1rem;
        margin-right: 1vw;
    }

    img {
        width: 20vw;
        // flex-basis: 60%;

        @include mobile {
            width: auto;
        }
    }

    li {
        list-style-type: none;
        display: flex;
        color: $font-blue;

        &:first-of-type {
            
            div {
                display: flex;
                flex-direction: column;
                width: 70%;
            }

            p {
                width: 100%;
                margin-top: 0;
            }
        }

        &:nth-of-type(2) {
            margin-top: 10%;
            align-items: center;

            p {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &:nth-of-type(3) {
            margin-top: 10%;
            align-items: center;

            p {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
