.questions-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5% auto;
    color: $font-blue;
    justify-content: space-evenly;

    @include mobile {
        width: 85%;
    }
   
}

.question {
    padding: 2.5%;
    background: $div-white;
    box-shadow: $shadow;
    border-radius: 5px;
    color: $font-blue;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $sans;
    text-decoration: none;
    margin-bottom: 2.5%;
    transition-duration: 2s;


    &:visited {
        color: $font-blue;
    }

    @include mobile {
        font-size: 1rem;
    }
}

.answer {
    border: 1px solid gray;
    border-radius: 5px;
    border-top: none;
    width: 98%;
    margin: 0 auto 2.5% auto; 
    padding: 3%;
    font-family: $sans;
    line-height: 30px;
}

.question-active {
    background: lighten($div-yellow, 20%);
    margin-bottom: 0;
    transition-duration: .5s;
}