.featured_programs-template-default {
    margin-top: -32px !important;

    @include mobile {
        margin-top: -46px !important;
    }
}

.feat-progs-hero {
    height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile {
        flex-direction: column;
        height: auto;
        padding-bottom: 5vh;
    }

    .featprogs-hero-parallax {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        z-index: -2;
    }

    .featprogs-hero-ovrly {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: .4;
        z-index: -1;
    }

    .featprogs-heading {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        font-family: $sans;
        width: 45%;

        @include mobile {
            width: 80%;
            align-items: center;
            margin-top: 5vh;
        }


        img {
            width: 60%;
            height: auto;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 0;

            @include mobile {
                text-align: center;
            }

        }

        h2 {
            margin-top: 0;

            @include mobile {
                font-size: 1.2rem;
            }
        }

    }

    .featprogs-form-container {
        width: 30%;
        height: 80%;

        @include mobile {
            width: 80%;
            height: 20rem;
        }


        form {
            display: flex;
            flex-direction: column;
            background: rgba(0, 35, 64, .5);
            padding: 7%;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            

            label {
                color: white;
                font-size: 3rem;
                font-family: $sans;

                @include mobile {
                    font-size: 2rem;
                }
            }


            input {
                width: 80%;
                height: 2rem;
                border-radius: 10px;
            }

            button {
                background: $div-yellow;
                padding: 3% 8%;
                color: $div-white;
                font-family: $roboto;
                border: none;
                font-size: 1.5rem;
            }
        }
    }    
}

.featprogs-content-section {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2%;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }


    .content-div {
        width: 60%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 85%;
            order: 2;
            padding-left: 0;
        }


        .graphic-supports {
            padding-left: 5%;

            @include mobile {
                padding-left: 0;
            }

            h4 {
                color: $font-blue;
                font-family: $sans;
                font-weight: 600;
            }

        }

        h3 {
            color: $font-blue;
            font-size: 2rem;
            font-family: $sans;
            align-self: flex-start;
            margin-bottom: 0;

            &:first-of-type {
                margin-top: 0;
                padding-top: 2vh;
            }
        }

        p {
            color: $font-gray;
            font-family: $sans;
            margin-top: 0;
        }

        a {
            margin-top: 15vh;
            align-self: center;
            width: 50%;
            font-size: 1.5rem;
            font-family: $roboto;

            @include mobile {
                width: 70%;
                margin-top: 1vh;
            }
        }
        
    }

    .sidebar-right {
        width: 25%;
        background: lightgray;
        border-radius: 10px;
        padding: 2%;
        margin-right: 2%;

        @include mobile {
            width: 85%;
            background: white;
            order: 1;
            padding: 6%;
        }

        h3 {
            color: $font-blue;
            font-size: 1.2rem;
            font-family: $sans;

            i {
                margin-right: .5vw;
            }
        }

        p {
            color: darken($font-gray, 10%);
            font-family: $sans;

            &:last-of-type {
                font-size: .8rem;
            }
        }

        ul {
            margin-left: 0;
            padding-left: 0;

            li {
                color: darken($font-gray, 10%);
                font-family: $sans;
                list-style-type: none;
                margin-top: 1vh;
            }
        }
    }
}


.review-container-featured {
    height: 50vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;

    @include mobile {
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-bkg {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -2;
    }

    .foto-review {
        height: 90%;
        width: auto;
        align-self: flex-end;
        margin-left: 10%;

        @include mobile {
            height: auto;
            width: 35%;
            order: 2;
            align-self: center;
            margin-left: 0;
        }
    }

    .review-month-container {
        width: 40%;
        color: white;
        font-family: $sans;
        position: relative;
        align-self: center;

        @include mobile {
            width: 80%;
            order: 1;
        }

        i {
            font-size: 5rem;
            position: absolute;
            top: -5%;
            left: 5%;
            z-index: -1;
        }
    }

}

