.start-journey-section {
    width: 100%;
    height: 55vh;
    background: $div-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    h1 {
        margin: 0;
        font-size: 4rem;
        color: white;
        font-family: $roboto;
        margin-top: 3%;
        position: relative;

        @include mobile {
            text-align: center;
        }

        &::before {
            content: "";
            border-bottom: 3px solid #FFC54C;
            width: 40%;
            position: absolute;
            height: 1px;
            left: 30%;
            bottom: -8px;
        }

        @include mobile {
            font-size: 2rem;
        }
    }

    p {
        color: white;
        font-style: italic;
        font-family: $sans;
        font-size: 2rem;

        @include mobile {
            font-size: 1.2rem;
            text-align: center;
            width: 85%;
        }
    }

    a {
        color: $font-blue;
        background: $div-yellow;
        border: none;
        box-shadow: $shadow;
        font-size: 1.2rem;
        font-family: $sans;
        padding: 15px 5rem;
        margin-bottom: 3%;
        border-radius: 5px;
    }
}


// INFO SECTION



.general-info {
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 45vh;

    @include mobile {
        flex-direction: column;
        align-items: center;
        height: 70vh;
    }
    
}

.footer-title {
    color: $font-blue;
    font-size: 2rem;

    position: relative;

        &::before {
            content: "";
            border-bottom: 3px solid #FFC54C;
            width: 40%;
            position: absolute;
            height: 1px;
            left: 0;
            bottom: -8px;
        }

    @include mobile {
        font-size: 1.3rem;

        &::before {
            left: 30%;
        }
    }    
}




.info-div {
    flex-basis: 22%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $font-blue;
    font-family: $roboto;
    
    a {
        text-decoration: underline;
    }

    @include mobile {
        flex-basis: 100%;
    }
   
}


.footer-copy {
    .sub-menu {
        display: none;
    }
}


.social-logos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  

    @include mobile {
        margin-top: 5%;
    }

}

.social-logo {
    height: 3rem;
    width: 3rem;
}

.join-nexus-fam-btn {
    background: $div-red;
    border: none;
    box-shadow: 3px 3px 5px black;
    color: white;
    font-family: $sans;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none !important;

    @include mobile {
        margin-top: 40%;
        padding: 1%;
        width: 100%;
    }
}

.nexus-social {
    @include mobile {
        align-items: center;
    }
}

.contact-footer {
    align-items: left;

    @include mobile {
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 50%;
        text-align: center;
        font-weight: bold;
    }

    .phone {
        @include mobile {
            order: 1;
        }
    }

    .address-nexus {
        @include mobile {
            order: 3;
        }
    }

    .office-hours {
        @include mobile {
            order: 2;
        }
    }
}


// COPYRIGHT

.footer-copy {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 5vh;

    @include mobile {
        height: 30vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        color: white;
        font-size: 1.1rem;
        margin: 0;

        @include mobile {
            order: 2;
        }
    }

    .menu-menu-1-container {
        width: 60%;
        height: 90%;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            

            li {
                text-align: center;
            }
        }

    }

    .menu {
        color: white;
        display: flex;
        list-style: none;
        justify-content: space-between;
        margin: 0;

        @include mobile {
            flex-direction: column;
            padding-left: 0;
            margin-top: 10%;
        }


        a {
            color: white;
            font-family: $sans;
            text-decoration: none;
            font-weight: 300;
            font-size: .9rem;
        }
    }
}

.why-nexus-footer {
    @include mobile {
        display: none;
    }
}