

.pum-theme-default-theme {
    background: rgba(0,0,0,.8) !important;
}

// BOOK CONSULT FORM

#popmake-144, #popmake-88 {
    top: 5% !important;
    padding: 0;

    .popmake-content {
        display: flex;
        justify-content: space-between;
    }  
}


.form-book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: $bg-blue;
    width: 50%;

    img {
        margin-top: 5%;
    }

    h2 {
        color: white;
        font-family: $roboto;
        font-size: 2.3rem;
        font-weight: bold;
        position: relative;

        &:before {
            content: "";
            border-bottom: 3px solid $div-yellow;
            width: 40%;
            position: absolute;
            bottom: 0;
            height: 1px;
            left: 30%;
        }
    }

    span {
        width: 100%;
    }

    input[type="checkbox"] {
        width: 5%;
    }

    input {

        line-height: 0;
        width: 100%;
    
        &::placeholder {
        padding-left: 2%;
        color: gray;
        font-size: .8rem;
        }
    }

    select {
        font-size: .8rem;
        width: 100%;
        color: gray;
        box-shadow: none;

        option {
            color: gray;
        }
    }
    
    .wpcf7-list-item-label {
        color: white;
        font-size: .8rem;
        margin-top: -5%;
    }

    p {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }


    .wpcf7-submit {
        background: $div-red;
        color: white;
        width: 100%;
        border: none;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.why-nexus-book {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $roboto;

    h2 {
        color: $font-blue;
        font-size: 2.3rem;
        font-weight: bold;
        position: relative;
        margin-top: 15%;

        &:before {
            content: "";
            border-bottom: 3px solid $div-yellow;
            width: 40%;
            position: absolute;
            bottom: 0;
            height: 1px;
            left: 30%;
        }
    }

    ul {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: $center;

        li {
            color: $font-blue;
            font-family: $sans;
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
}


// START YOUR JOURNEY FORM

#popmake-155, #popmake-87 {
    padding: 0;
    top: 5% !important;

    .popmake-content {
        background: $div-yellow-form;


        h2 {
            margin-top: 0;
            color: $font-blue;
            text-align: center;
            padding-top: 5%;
            font-family: $roboto;
            font-size: 3rem;
            font-weight: bold;
        }

        p {
            margin-bottom: 0;
            width: 40%;
            margin: $center;
            padding-bottom: 3%;
        }

        input[type="submit"]{
            background: $div-red;
            color: white;
            width: 100%;
            border: none;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
}



.form-start-form {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: $center;

    span {
        width: 45%;
        margin: 5% 5% 5% 0;
        

        input {
            width: 100%;
            line-height: 0;

            &::placeholder {
                padding: 1% 2%;
                font-family: $sans;
                font-size: .8rem;
                color: gray;
            }
        }

        select {
            width: 100%;
            box-shadow: none;
            color: gray;
            font-size: .8rem;

            option {
                color: gray;
            }
        }
    }

    

}