

.promotions-page {
    margin-top: 15vh;
    
    h1 {
        text-align: center;
        font-size: 2rem;
        position: relative;
        color: $font-blue;
        font-family: $roboto;
        margin-top: 0;

        &:before {
            content: "";
            height: 1px;
            border-bottom: 3px solid $div-yellow;
            position: absolute;
            bottom: 0;
            left: 46%;
            width: 8%;
        }
    }

    h2 {
        color: $font-blue;
        text-align: center;
        font-weight: 300;
        font-family: $roboto;
    }

    .promotions-desc {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        p {
            font-family: $sans;
            color: $font-blue;
        }
    }
}




.promotions-mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.school-content {
    height: 0;
    transition-duration: 1s;
    overflow-y: hidden;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
    color: $div-white;
    font-family: $sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.school-div {
    background-size: cover !important;
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 65vh;
    position: relative;

    @include mobile {
        height: 30vh;
    }

    @include tablet {
        height: 30vh;
    }

    h2, p, a {
        z-index: 11;
    }

    .title {
        color: white;
        font-family: $roboto;
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    p {
        color: white;
        font-family: $roboto;
    }

    a {
        color: white;
        padding: 5px;
        border-radius: 5px;
        // text-decoration: none;
        font-family: $sans;
        font-weight: 600;
        margin-bottom: 5%;

        &:visited {
            text-decoration: none;
        }
    }

    &:hover {

        .school-content {
            height: 20vh;
            transition-duration: 1s;
        }
    }
}


.school-ovrly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.private {
    background: linear-gradient($transparency 40%, $bg-blue);
}

.public {
    background: linear-gradient($transparency 40%, $div-red);
}

.esl {
    background: linear-gradient($transparency 40%, $div-yellow);

    
}