.quote-page-form {
    width: 65%;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: 100%;
    }

    .edvisor-form {
        button {
            margin-top: 5vh;
        }
    }
}

.page-template-page-quote {
    
    .edvisor-row > label {
        color: $font-blue;
        font-family: $sans;
        font-size: 1.2rem;
    }

}



.edvisor-row {
    
    input, textarea, select {
        background: $div-white;
    }
}