.quote-page-form {
    width: 65%;
    margin-left: auto;
    margin-right: auto;

    .edvisor-form {
        button {
            margin-top: 5vh;
        }
    }
}

.edvisor-row > label {
    color: $font-blue !important;
    font-family: $sans;
}

.edvisor-row {
    
    input, textarea {
        background: $div-white;
    }
}