#registration-form-php {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: $font-blue;
    font-family: $sans;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        width: 80%;
    }

    @include mobile {
        width: 90%;
    }

    .fieldset-label-reg {
        font-family: $roboto;
        font-size: 1.5rem;
        align-self: flex-start;
        margin-top: 2vh;
    }
}

.reg-fieldset {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
    background: linear-gradient($div-white, white);
    box-shadow: 1px 1px 10px $bg-blue;


    input, select {
        height: 2rem;
        border-radius: 10px;
        color: $font-blue;
        font-family: $sans;
    }

    span {
        font-size: .8rem;
        font-style: italic;
    }
}

.registration-row {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.client-info {

    .registration-row {


        &:first-of-type, &:nth-of-type(2) {
            flex-basis: 45%;
        }

        &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
            flex-basis: 27.5%;
        }

        &:nth-of-type(6), &:nth-of-type(7) {
            flex-basis: 35%;
        }
    }    
}

.client-info-more, .client-education-info, .client-info, .clien-canada-info, .optionals-info {

    @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .registration-row {
        
        @include mobile {
            width: 90%;
            align-self: center;
            flex-basis: 80%;
        }
        
    }
}

.client-education-info {

    .registration-row {


        &:first-of-type, &:nth-of-type(3) {
            flex-basis: 57.5%;
        }

        &:nth-of-type(2), &:nth-of-type(4) {
            flex-basis: 27.5%;
        }
    }   
}

.clien-canada-info {

    .registration-row {


        &:first-of-type, &:nth-of-type(3) {
            flex-basis: 57.5%;
        }

        &:nth-of-type(2), &:nth-of-type(4) {
            flex-basis: 27.5%;
        }

        &:last-of-type  {
            flex-basis: 50%;
        }
    }   

}

.optionals-info {
    width: 100%;
    .registration-row {


        &:first-of-type, &:nth-of-type(5) {
            flex-basis: 30%;
        }

        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
            flex-basis: 22%;
        }

    }   
}

.privacy-policy {
    color: $font-blue;
    font-family: $sans;
    margin-top: 2vh;
}

#registration-button {
    background: $div-red;
    padding: 2% 5%;
    color: white;
    font-family: $roboto;
    font-size: 1.5rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
}