.school-promo-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14vh;
    padding: 2% 0%;
    height: 70vh;
    padding-top: 0;

    @include mobile {
        margin-top: 100px;
        height: 380px;
    }

    &:after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.4);
        z-index: -1;
    }

    .school-page-hero-parallax {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 60vh;
        height: 100vh;
        z-index: -2;
        background: transparent;

        @include mobile {
            height: 460px;
        }
    }

    .blue-stripe-top {
        height: 10vh;
        width: 100%;
        background: $bg-blue;
        position: relative;

        @include mobile {
            height: 75px;
        }
    }

    .schoolmonth-hook {
        font-size: 1rem;
        color: white;
        font-family: $roboto;

        h1 {
            text-align: center;

            @include mobile {
                max-width: 90%;
            }
        }

        @include mobile {
            margin-top: auto;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        
    }

    .schoolmonth-banner {
        font-size: 2rem;
        background: $div-red;
        color: white;
        font-family: $roboto;
        border-radius: 10px;
        padding: 1% 5%;
        font-weight: bold;

        @include mobile {
            margin-bottom: 80px;
            font-size: 1.5rem;
        }

       
        p {
            margin: 0;
            text-align: center;

        }
    } 

    .school-page-heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // width: 80%;

        @include mobile {
            flex-direction: column;
        }

        

        .schoolmonth-logo-container {
            background: $div-white;
            // background: rgba(243, 245, 248, .7);
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
            padding: 5%;
            border-radius: 10px;
            margin-top: -5vh;
            z-index: 10;
            position: relative;

            @include mobile {
                margin-top: -30px;
            }
        }

        img {
            width: 275px;
            height: auto;

            @include mobile {
                width: 150px;
                order: 1;
                height: auto;
                
            }
        }
    }
}

.feat-landing-content {

    background: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $font-blue;

    p {
        margin: 0;
        color: $font-blue;
        font-family: $sans;
        text-align: center;
        width: 70%;
    }
}

.school-options {
    background: white;
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include mobile {
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
    }
    
    .option {
        width: 30%;
        padding: 1.5%;
        border-radius: 10px;   
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        position: relative;
        height: 30rem;
        transition-duration: 1s;
        background-size: cover; 
        background-repeat: no-repeat;
        justify-content: center;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.3);
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition-duration: 1s;
        }


        @include mobile {
            width: 95%;
            margin-bottom: 5%;
            padding: 5%;
            // height: auto;
        }

        &:first-of-type {
            a {
                background: $bg-blue;

                &:hover {
                    background: lighten($bg-blue, 10%);
                }
            }
        }

        &:nth-of-type(2) {
            a {
                background: $div-red;

                &:hover {
                    background: lighten($div-red, 10%);
                }
            }
        }

        &:nth-of-type(3) {
            a {
                background: $div-yellow;

                &:hover {
                    background: lighten($div-yellow, 10%);
                }
            }
        }

        &:hover {
            box-shadow: 0 0 15px rgb(0,0,0);
            transition-duration: 1s;
            width: 35%;

            h3 {
                font-size: 1.5rem;
                transition-duration: 1s;
            }

            &:after {
                background: rgba(0,0,0,.7);
                transition-duration: .5s;
            }


            @include mobile {
                width: 95%;

                h3 {
                    font-size: 2rem;
                }
            }
        }
        
        a {
            width: 100%;
            z-index: 2;
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            font-size: 3rem;

            @include mobile {
                font-size: 1.5rem;
            }
        }

        h3 {
            margin: 0;
            text-align: center;
            font-size: 2.5rem;
            font-family: $roboto;
            position: relative;
            z-index: 2;
            width: 95%;
            transition-duration: 1s;

            @include mobile {
                font-size: 2.5rem;
            }

            &:after {
                content: "";
                width: 80%;
                height: 1px;
                background: $div-white;
                bottom: 0;
                left: 10%;
                position: absolute;
            }
        }
        
        ul {
            margin: 0;
            padding: 0;
            position: relative;
            z-index: 2;
            margin-bottom: 25%;
            margin-top: 5%;
            font-family: $sans;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 95%;

            li {
                list-style-type: none;
                margin-top: 2%;
                font-size: .9rem;

                i {
                    margin-right: 2%;
                }
            }  

            .option-duration, .option-work {
                flex-basis: 50%;
            }

            .option-description {
                flex-basis: 100%;
            }
        }
    }
}

.school-desc-section {
    background: $div-white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    flex-wrap: wrap;

    .school-vid {
        width: 45%;
        height: auto;

        @include mobile {
            display: flex;
        }

        iframe {
            width: 100%;
            height: 45vh;

            @include mobile {
                width: 90%;
                height: 30vh;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @include mobile {
            width: 100%;
            order: 2;
        }
    }

    p {
        color: $font-gray;
        font-family: $sans;
        font-size: 1.2rem;
        width: 45%;

        @include mobile {
            width: 90%;
            font-size: 1rem;
        }
        
    }
}

.chat-with-us-div {
    background: $bg-blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;

    @include mobile {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    a {
        color: white;
        background: $div-yellow-dark;
        margin: 0;
        font-size: 1.5rem;
        width: auto;
        padding: 1% 3%;
    }
}


.nexus-rating-school-month {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 2%;

    @include mobile {
        padding-bottom: 8%;
        flex-direction: column;
    }

    .side-bar-details {
        width: 35%;
        background: $div-white;
        color: $font-blue;
        position: relative;
        padding: 0 2%;
        border-radius: 10px;

        @include mobile {
            width: 90%;
            margin-top: 5%;
            padding: 5%;
        }

        i {
            position: absolute;
        }

        .fa-quote-left {
            top: 20%;
            left: 10%;
            color: lightgray;
            font-size: 4rem;
        }

        .fa-user-alt {
            bottom: 0;
            right: 2%;
            font-size: 8rem;
            color: lightgray;
        }

        p {
            font-family: $sans;
            z-index: 2;
            position: relative;
        }

        h4 {
            position: relative;
            z-index: 2;
            font-family: $sans;
            font-size: 2rem;
            text-align: center;
            margin: 5% 0 0 0;
        }
    }

    .nexus-rating-school {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60vh;

        @include mobile {
            flex-direction: column;
            height: auto;
            width: 95%;
        }
        
        i {
            color: $div-yellow;
        }

        .overall-score {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid #0D74B5;

            @include mobile {
                border-right: 0;
                border-bottom: 1px solid #0D74B5;
                width: 80%;
                padding-bottom: 2vh;    
                padding-top: 2vh;
            }

            h3 {
                padding: 0;
                margin: 0;
                text-align: center;
                width: 100%;
                font-weight: 300;
                margin-top: 0;
                font-size: 3rem;
                color: $font-blue;
            }

            .average-rating-number {
                font-size: 6rem;
                color: $font-blue;
                margin-bottom: 0;
                margin-top: 0;
            }

            .average-stars {
                i {
                    font-size: 2rem;
                }
            }

        }

        .individual-scores {
            width: 50%;
            height: 65%;

            @include mobile {
                width: 95%;
                margin-top: 2vh;
            }
            
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                font-family: $roboto;
                width: 80%;

                @include mobile {
                    width: 100%;
                }

                li {
                    list-style-type: none;
                    color: $font-blue;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    font-weight: bold;
                    padding-left: 5%;
                }
            }
        }
    }
}

.columns-school {
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
    width: 100%;
    margin: 0 auto 3% auto;
    background: white;
    padding-top: 3%;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

   .column-details, .column-areas, .column-outcomes {
       width: 30%;
       color: $font-blue;
       font-family: $sans;
       margin-left: 1.5%;
       margin-right: 1.5%;

       @include mobile {
           width: 85%;
       }

       h3 {
            font-family: $roboto;
            text-align: center;
            font-size: 1.5rem;
            position: relative;

            &:after {
                content: "";
                height: 3px;
                width: 20%;
                position: absolute;
                background: $div-yellow;
                left: 40%;
                bottom: 0;
            }
       }

       h4 {
           
           i {
               margin-right: 2%;
           }
       }

       
       li {
           list-style-type: none; 
           

           i {
               margin-right: 2%;
           }
       }

       .details-li {

        @include mobile {
            padding-left: 0;
        }

        li {
            list-style-type: disc;  
        }
    }

       
   }

   .column-areas {
        border: 1px solid blue;
        padding: 0 2%;
        border-top: none;
        border-bottom: none;

        @include mobile {
            border: none;
        }

       ul {
            margin-left: 0;

            li {
                margin-bottom: 5%;
            }
       }
   }

   .column-outcomes {
        ul {
            padding-left: 0;
            margin-left: 0;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 5%; 

                i {
                    font-size: 1.5rem;
                }
                
                .fa-check {
                    color: green;
                }

                .fa-times {
                    color: $div-red;
                }

                .low, .med, .high {
                    font-size: 1.5rem;
                    font-family: $roboto;
                }

                .low {
                    color: $div-red;
                }

                .med {
                    color: $div-yellow-dark;
                }

                .high {
                    color: green;
                }

                span {
                    margin-left: auto;
                }
            }

            #avg-salary-li {
                flex-wrap: wrap;

                img {
                    flex-basis: 100%;
                    margin-top: 3%;
                }
            }
        }   
    }
}

// ESL

.column-amenities, .column-nation, .column-awards {
    width: 30%;
    color: $font-blue;

    @include mobile {
        width: 80%;
    }

    h3 {
        font-family: $roboto;
        text-align: center;
        font-size: 1.5rem;
        position: relative;

        &:after {
            content: "";
            height: 3px;
            width: 20%;
            position: absolute;
            background: $div-yellow;
            left: 40%;
            bottom: 0;
        }
   }

   h4 {
       
       i {
           margin-right: 2%;
       }
   }
   
   li {
       list-style-type: none;
       display: flex;
       align-items: center;
       margin-bottom: 2%;

       i {
           margin-right: 2%;
       }
   }
}


.column-amenities {

    ul {
        padding-left: 0;
        margin-left: 0;
        flex-direction: column;

        @include mobile {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            li {
                min-width: 20%;
                width: 23%;
                max-width: 30%;
            }
        }

        li {
            list-style-type: none;
            width: 60%;

            img {
                height: 2rem;
                width: auto;
                margin-right: 2%;
            }
        }
    }
}

#avg-salary-li {
    border: 2px solid $font-blue;
    border-radius: 10px;
    padding: 5%;
    margin-top: 2%;

    img {
        width: 100%;
        height: 150px;
    }
}

#chart, #salary-chart {
    width: auto;
    height: auto;
}


.column-awards {
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        margin-left: 0;

        li {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 45%;
            }
        }

    }
    
}