
.page-template-page-services{
    .footer-copy {
        background: $bg-blue;
    }
}

.about-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
        color: white;

        font-family: $roboto;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0;

        position: relative;

        @include mobile {
            font-size: 2rem;
        }

        &::before {
            content: "";
            border-bottom: 3px solid #FFC54C;
            width: 40%;
            position: absolute;
            height: 1px;
            left: 30%;
            bottom: 0;
        }
    }

    p {
        color: white;
        width: 55%;
        font-family: $sans;
        margin: 0;

        @include mobile {
            width: 85%;
            font-size: 1rem;
            line-height: 1.8rem;
        }
    }

    button {
        color: $font-blue;
        background: $div-yellow;
        padding: 10px 5rem;
        box-shadow: $shadow;
        border: none;
        font-size: 1.5rem;
        font-family: $roboto;
        letter-spacing: 2.17px;
        font-weight: 900;

        @include mobile {
            font-size: 1rem;
        }
    }
}

// HOW WE HELP

.how-we-help-section {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.how-we-help-title {
    color: $font-blue;
    font-size: 3.5rem;
    background: $div-white;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5% 0;
    position: relative;

    @include mobile {
        font-size: 1.8rem;
    }

        &::before {
            content: "";
            border-bottom: 3px solid #FFC54C;
            width: 10%;
            position: absolute;
            height: 1px;
            left: 45%;
            bottom: 30%;
        }
}

.path {
    width: 30%;

    @include mobile {
        display: none;
    }
}

.steps-div {
    width: 100%;
    display: flex;
    justify-content: center;

    @include mobile {
        align-items: center;
    }


    &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(5) {
        background: $div-white;
    }
    
}

.step-container {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        width: 85%;
    }
    
}

.round-img {
    height: 20rem;
    width: 20rem;

    @include mobile {
        display: none;
    }
}

.living {
    margin-bottom: 5%;
}

.div-content {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include mobile {
        width: 100%;
    }



    h3 {
        margin-top: 0;
        margin-bottom: 2%;
        color: $font-blue;
        font-size: 1.5rem;

        @include mobile {
            text-align: center;
            font-size: 1.2rem;
            margin-top: 10%;
        }
    }

    p {
        width: 100%;
        color: $font-blue;
        font-family: $sans;

        @include mobile {
            line-height: 1.4rem;
        }
    }

    a {
        color: white;
        background: $div-red;
        width: 43%;
        letter-spacing: 2.5px;
        font-weight: 900;
        font-family: $roboto;
        font-size: 1.1rem;
        text-align: center;
        padding: 2% 5%;
        border-radius: 5px;
        box-shadow: $shadow;

        @include mobile {
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            font-size: 1rem;
            margin-bottom: 10%;
        }
    }
}

// CONSULTANTS

.consultants-section {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include mobile {
        padding-bottom: 5%;
    }

}

.consultants-container {
    display: flex;
    justify-content: space-around;
    width: 80%;

    @include mobile {
        flex-direction: column;
    }
}

.consultant {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;

    h1 {
        margin-bottom: 0;
        text-transform: uppercase;
        color: $font-grey;
        font-size: 1.5rem;
        font-family: $sans;

        @include mobile {
            color: $font-blue;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    h2 {
        margin-top: 0;
        color: $font-grey;
        font-family: $sans;

        @include mobile {
            color: $font-blue;
            font-size: 1rem;
        }
    }
}


.consul-img {
    height: 35%;

    @include mobile {
        width: 50%;
    }
}

.consul-contact {    
    display: flex;
    width: 30%;
    justify-content: space-between;

    @include mobile {
        width: 50%;
    }

    i {
        font-size: 2rem;
    }
}


.consultants-title {
    font-family: $roboto;
    color: $font-blue;
    font-size: 3rem;
    width: 40%;
    text-align: center;
    position: relative;

    @include mobile {
        font-size: 1.6rem;
        width: 50%;
    }

        &::before {
            content: "";
            border-bottom: 3px solid #FFC54C;
            width: 40%;
            position: absolute;
            height: 1px;
            left: 30%;
            bottom: 0;
        }
}
