.page-title-container {
    margin-top: 10vh;
    background: $div-yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: $font-blue;
        text-decoration: underline #FF8A2A;
        font-family: $roboto;
        font-size: 3rem;
        font-weight: bold;
    }
}

.about-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
        color: $div-yellow;
        text-decoration: underline #FF8A2A;
        font-family: $roboto;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    p {
        color: $div-yellow;
        width: 55%;
        font-family: $sans;
        margin: 0;
    }

    button {
        color: $font-blue;
        background: $div-yellow;
        padding: 10px 5rem;
        box-shadow: $shadow;
        border: none;
        font-size: 1.5rem;
        font-family: $roboto;
        letter-spacing: 2.17px;
        font-weight: 900;
    }
}

// HOW WE HELP

.how-we-help-section {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.how-we-help-title {
    color: $font-blue;
    text-decoration: underline $div-yellow;
    font-size: 3.5rem;
}

.path {
    width: 30%;
}

.steps-div {
    width: 100%;
    display: flex;
    justify-content: center;

    &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(5) {
        background: $div-white;
    }
    
}

.step-container {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    
}

.round-img {
    height: 20rem;
    width: 20rem;
}

.living {
    margin-bottom: 5%;
}

.div-content {
    display: flex;
    flex-direction: column;
    width: 50%;



    h1 {
        margin-top: 0;
        margin-bottom: 2%;
        color: $font-blue;
    }

    p {
        width: 100%;
        color: $font-blue;
        font-family: $sans;
    }

    button {
        color: white;
        background: $div-red;
        width: 43%;
        letter-spacing: 2.5px;
        font-weight: 900;
        font-family: $roboto;
        font-size: 1.1rem;
    }
}

// CONSULTANTS

.consultants-section {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.consultants-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.consultant {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;

    h1 {
        margin-bottom: 0;
        text-transform: uppercase;
        color: $font-grey;
        font-size: 1.5rem;
        font-family: $sans;
    }

    h2 {
        margin-top: 0;
        color: $font-grey;
        font-family: $sans;
    }
}


.consul-img {
    height: 35%;
}

.consul-contact {    
    display: flex;
    width: 30%;
    justify-content: space-between;

    i {
        font-size: 2rem;
    }
}


.consultants-title {
    font-family: $roboto;
    color: $font-blue;
    text-decoration: underline $div-yellow;
    font-size: 3rem;
    width: 40%;
    text-align: center;
}
