.single-post {
    background: white;

    .footer-copy {
        background: $bg-blue !important;
    }
}

.single-content {
    margin-top: 15vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: $font-blue;

    @include mobile {
        width: 85%;
    }

    h1 {
        color: $font-blue;
        font-family: $roboto;
        font-weight: 500;
        font-size: 3rem;

        @include mobile {
            font-size: 2rem;
        }
    }

    h2 {
        font-family: $sans;
        font-weight: 300;
        color: $font-blue;
        border-left: 2px solid $div-yellow;
        padding-left: 1%;
    }

    p {
        font-family: $sans;
        color: $font-blue;
        line-height: 2rem;
    }    

    ul {
        color: $font-blue;
        margin-left: 0;
        font-family: $sans;
    }
}


.post-date {
    text-transform: capitalize;
}

.share-links-container {
    width: 50%;
    margin: $center;
    display: flex;
    flex-direction: column; 

    h3 {
        margin: $center;
        color: $font-red;
        margin-bottom: 4%;
        font-size: 1.5rem;

        @include mobile {
            text-align: center;
            font-size: 1rem;
        }
    }
}

.share-list {
    display: flex;
    width: 70%;
    padding: 0;
    margin: $center;
    justify-content: space-between;

    li {
        list-style-type: none;

        i {
            font-size: 2rem;
        }
    }
}

// COMMENTS

.swpm-login-to-comment-msg {
    color: $font-blue;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: $roboto;
    font-size: 2rem;
    text-align: center;
    margin-top: 5vh;
    
    @include mobile {
        font-size: 1rem;
    }
}

.comments-section {
    width: 100%;
    background: $div-white;
}

.comments-title {
    display: none;
}

.comments-header {
    width: 30%;
    text-align: center;
    color: $font-blue;
    font-size: 2rem;
    font-family: $roboto;
    // border-bottom: 2px solid $div-yellow;
    margin: $center;
    margin-top: 5%;
    position: relative;
    padding-top: 3%;

    @include mobile {
        text-align: center;
        width: 100%;
    }

    &:before {
        content: "";
        border-bottom: 3px solid $div-yellow;
        width: 50%;
        position: absolute;
        bottom: 0;
        height: 1px;
        left: 25%;
    }
}

.comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: $center;
    margin-top: 5%;
    color: $font-blue;
    font-family: $sans;
    font-weight: bold;
}

.comment-form-author {
    order: 1;
    width: 35%;
    input {
        width: 100%;
    }
}

.comment-form-email {
    order: 2;
    width: 60%;

    input {
        width: 100%;
    }
}

.comment-form-comment {
    order: 3;
    width: 100%;
}

.form-submit {
    order: 4;
    width: 100%;
}

.comment-form-url {
    display: none;
}


#reply-title {
    display: none;
}

.comment-notes {
    display: none;
}

// PEOPLE ALSO READ SECTION

.people-likes {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .people-title {
        font-size: 3rem;
        color: $font-blue;
        font-family: $roboto;
        position: relative;

        @include mobile {
            font-size: 2rem;
            text-align: center;
        }

        &:after {
            content: "";
            height: 3px;
            background: $div-yellow;
            bottom: 0;
            left: 25%;
            width: 50%;
            position: absolute;
        }
    }
}

.posts-container-people {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;

    @include mobile {
        overflow-x: auto;
    }

    .post {
        width: 30%;

        @include mobile {
            width: 100%;
            flex-shrink: 0;
        }
    }
}

// COMMENTS  

.comment {
    list-style-type: none;
}