.tax-Cities {
    background: white;

    .footer-copy {
        background: $bg-blue;
    }
}

.page-title-container {
    p {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        color: $font-blue;
        font-family: $sans;
        font-size: 1.3rem;
        line-height: 2rem;
    }
}

.filters-container {
    width: 100%;
    display: flex;
    background: $div-red;
    height: 15vh;
    margin-bottom: 5%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @include mobile {
        flex-direction: column;
    }
}

.duration-selector, .location-selector {
    height: 30%;
    color: $font-blue;
    font-family: $roboto;
    font-weight: bold;
    flex-basis: 30%;
    padding: 0;
    option {
        color: $font-blue;
    }

    @include mobile {
        width: 50%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
    }
}

.apply-filters-btn {
    flex-basis: 15%;
    height: 30%;
    background: $div-yellow;
    color: $font-blue;
    font-family: $roboto;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    box-shadow: $shadow;
    padding: 0;

    @include mobile {
        font-size: 1.2rem;
        flex-basis: 35%;
        padding-left: 3%;
        padding-right: 3%;
    }
}


.type-programs-container {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        text-decoration: none;

        &:visited {
            color: $font-blue;
        }
    }

    

}

.type-prog-container {
    width: 30%;
    height: 20rem;
    margin-bottom: 5%;
    box-shadow: $shadow;
    background: $div-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
        width: 48%;
        height: auto;
    }

    p {
        font-family: $roboto;
        color: $font-blue;
        font-size: 1.3rem;
        margin: 0;
        margin-left: 5%;
        
        @include mobile {
            font-size: .9rem;
        }
    }

    .prog-name-single {
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
        margin-left: 5%;

        @include mobile {
            font-size: 1.1rem;
        }
    }

    .prog-city-single {
        font-style: italic;
    }

    

    .wp-post-image {
        height: 12rem;
    }

}

#more_programs {
    background: $div-red;
    width: 30%;
    border-radius: 5px;
    box-shadow: $shadow;
    text-align: center;
    font-family: $roboto;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 5%;
    color: white;
    margin-bottom: 5%;
    display: none;

    &:hover {
        background: red;
    }

    @include mobile {
        width: 50%;
        font-size: 1rem;
    }
}


.no-programs {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

    p {
        color: $div-red;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    h2 {
        text-align: center;
        font-family: $sans;
        font-size: 2rem;
        color: $font-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        span {
            font-size: 4rem;
            position: relative;
            margin-bottom: 10%;
            font-family: $roboto;

            &::before {
                content: "";
                border-bottom: 3px solid #FFC54C;
                width: 40%;
                position: absolute;
                height: 1px;
                left: 30%;
                bottom: 0;
            }
        }
    }

    .contact-btn {
        background: $bg-blue;
        color: white;
        font-family: $roboto;
        font-size: 1.5rem;
        padding: 2% 5%;
        border-radius: 5px;
        box-shadow: $shadow;
        font-weight: bold;

        &:hover {
            background: lighten($bg-blue, 10%);
        }

    }
}

