.page-template-page-join-us {

    .login-page-form {
        
        input[type="submit"] {
            width: 20%;
            padding: 1% 0 1% 0;
    
            @include mobile {
                width: 50%;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        }
    }
}

.login-page-container {
    height: 70vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;

    @include mobile {
        flex-direction: column;
        height: auto;
    }
}

.swpm-validate-form label {
    color: $font-blue;
}


.login-page-info {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $font-blue;
    font-family: $roboto;
    margin-top: auto;
    margin-bottom: auto;
    border-left: 1px solid $font-blue;

    img {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        @include mobile {
            display: none;
        }
    }

    h2 {
        text-align: center;
        font-size: 4rem;
        margin-top: 0;
    }

    ul {
        margin-top: -5%;
        padding: 0;

        @include mobile {
            margin-top: 5%;
        }
    }

    @include mobile {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-left: none;
        order: 1;
    }
}


.login-page-form {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include mobile {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        order: 2;
        margin-top: 5%;
        padding-bottom: 5%;
    }
}

#swpm-registration-form > table > tbody > tr:nth-child(8) > td > label > a {
    color: $font-blue;
}

#swpm-registration-form > table > tbody > tr:nth-child(9) > td > label > a {
    color: $font-blue;;
}

// MEMBER LOGIN PAGE


.page-template-page-member-login {
    .login-page-info {
        justify-content: center;
    }
}


#swpm-login-form > div > div.swpm-username-label > label {
    color: $font-blue;
}

#swpm-login-form > div > div.swpm-password-label > label {
    color: $font-blue;
}
#swpm-login-form > div > div.swpm-remember-me > span.swpm-rember-label {
    color: $font-blue;
}

#forgot_pass {
    color: $font-blue;
}

#register {
    color: $font-blue;
}

// PASS RESET

.page-template-page-password-reset {


    .login-page-container {
        height: 45vh;
        justify-content: center;
    }

    .login-page-form {
        width: 50%;
        height: 50%;
        margin: auto;
        color: $font-blue;
    }
}
