.team-container {
    background: $div-white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 5%;
}

.member-info {
    width: 68%;
    height: 100%;
    font-family: $sans;

    @include mobile {
        width: 90%;
    }

    p {
        width: 90%;

        @include mobile {
            width:100%;
        }
    }

   
}


.member-container {
    font-family: $roboto;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        flex-direction: column;
        width: 90%;
        border-bottom: 1px solid gray;
        padding-bottom: 5%;

        &:last-of-type {
            border-bottom: none;
        }
    }

    img {
        border-radius: 100%;
        width: 28%;
        height: 100%;

        @include mobile {
            width: 50%;
        }
        
    }

    &:nth-of-type(even) {

        .member-info {
            border-right: 1px solid gray;

            @include mobile {
                border-right: none;
            }
        }


        .member-info {
            order: 2;
        }

        img {
            order: 1;   
        }
    }

    &:nth-of-type(odd) {

        .member-info {
            border-left: 1px solid gray;
            padding-left: 5%;

            @include mobile {
                border-left: none;
                padding-left: 0;
            }
        }

        @include mobile {

            .member-info {
                order: 2;
            }
    
            img {
                order: 1;   
            }
        }
    }
    
}
