$roboto : 'Roboto';
$sans : 'Open Sans';

$bg-blue: #15405A;
$div-red : #E91C35;
$div-yellow : #FFC54C;
$div-white : #F3F5F8;

$font-blue : #193F5C;
$font-red : #FF2F49;


$center : 0 auto 0 auto;
$shadow : 3px 3px 5px black;