$roboto : 'Roboto';
$sans : 'Open Sans';

$bg-blue: #15405A;
$div-red : #E91C35;
$div-yellow : #FFC54C;
$div-yellow-dark : #FF8A2A;
$div-white : #F3F5F8;
$div-yellow-form: rgba(255,197,76,0.75);

$font-blue : #193F5C;
$font-red : #FF2F49;
$font-grey : #9CAFC3;
$font-yellow : #FFC54C;
$font-gray : #6B6B6B;


$center : 0 auto 0 auto;
$shadow : 3px 3px 5px black;