$roboto : 'Roboto';
$sans : 'Open Sans';

$bg-blue: #15405A;
$div-red : darken(#DD3333, 10%);
$div-yellow : darken(#FFC54C, 10%);
$div-yellow-dark : darken(#FF8A2A, 10%);
$div-white : #F3F5F8;

$font-blue : #193F5C;
$font-red : #FF2F49;
$font-grey : #9CAFC3;
$font-yellow : #FFC54C;
$font-gray : #6B6B6B;


$center : 0 auto 0 auto;
$shadow : 1px 1px 2px rgb(90, 90, 90);
$blackGradient: rgba(0,0,0,.6);
$transparency: rgba(0,0,0,0);